body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* border: 5px solid blue; */
  background-color: white;
}

header {
  position: relative;
  margin: auto; 
  /* border: 5px solid red;  */
  width: 80%;
  padding-top: 30px;
  padding-bottom: 30px;
}

h2 {
  font-size: 25px;
  font-weight: bolder;
  /* border: 5px solid red; */
}

hr {
  /* border: 1px solid blue;  */

}

main {
  width: 80%;
  height: auto;
  /* border: 5px solid green; */
}

p {
  font-size: 15px;
  text-indent: 1.5em;
  margin-top: 20px;
  margin-bottom: 20px;
  /* border: 2px solid blue; */
}

footer {
    text-align: center;
    color: darkgray;
    /* border: 2px solid green; */
    width: 100%
}

header ul{
  float: right;
}

header li {
  display: inline;
}
#fork{
  padding-top: 10px;
  /* border: 2px solid blue; */
}
#page-title {
  color: black;
  font-family: 'Yellowtail', cursive;
  display: inline-block;
  font-size: 2.5em;
  margin-top: 0px;
  margin-left: 0.1em;
  margin-bottom: 10px;
  /* border: 1px solid blue; */
  /* height: 10%; */
  
}

.nav-content {
  
  align-items: left;
  /* border: 1px solid blue; */
  /* width: 50%; */
  height: 80px;
  float: left;
  width: 500px;
  margin-right: 100px;
}

#logo-text {
  font-size: 13px;
  margin-top: auto;
  margin-left: 2.5em;
  /* border: 1px solid blue; */
}
#post-date {
font-size: 0.7em;  
/* border: 1px solid blue; */
width: 50%;
display: inline-block;
margin-bottom: 0;
margin-top: 0;
margin-left: -1.5em;
color: lightgray;
}

.main-title {
  /* color: blue; */
  font-size: x-large;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

#print {
  float: right;
  color: lightgray;
}

#chocolatepizza {
  width: 100%;
  clear: both;
  margin-top: 20px;
  margin-bottom: 10px;
}

.ingredients-box {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
  background-image: url("/img/list-bg.png");
  /* border: 1px solid blue; */
}
    
  
.ingredients-1 {
  text-align: left;
  width: 30%;
  padding: 20px 100px 20px 10px;
  /* border: 1px solid blue; */
  
}

div.ingredients-2 {
  width: 30%;
  padding: 20px 100px 20px 10px;
  /* border: 1px solid blue;  */
}

div.authorbio {
  display: inline-block;
  /* border: 1px solid blue; */
  width: 70%;
  margin-bottom: 50px;
}

div.authorbio h2 {
  font-size: 20px;
  margin: 10px 10px;
  font-weight: bold;
}

div.authorbio p {

  font-size: 18px;
  margin: 10px 10px;
}

section {
  position: relative;
  width: 100%;
  /* border: 1px solid red; */
  
}

section img {
  float: left;
  /* border: 3px solid pink; */
}

.button {
  font-size: 12px;
  margin-top: 20px;
  padding: 10px;
  float: right;
  background-color: #a35323;
  color: whitesmoke;
  font-variant: small-caps;
  font-family: "Overpass", sans-serif;
}



hr {
  width: 100%;
}

label.strikethrough {
  text-decoration: line-through;
}

.slashes {
  height: 13px;
    border: solid 0px white;
    
    background-image: linear-gradient(45deg, #000000 16.67%, #fff 16.67%, #fff 50%, #000000 50%, #000000 66.67%, #fff 66.67%, #fff 100%);
    background-size: 4.24px 4.24px;
    
    opacity: 0.3;
    margin-top: 2em;
    margin-bottom: 1em;  
}

